/* ∞∞ font ∞∞ */
@import url(https://fonts.googleapis.com/css?family=Lato:300,900);
#contact_modal {
    display: none;
}

main {
  z-index: 1;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

/* Profil */
.photograph-header {
    background-color: #FAFAFA;
    display: flex;
    margin-bottom: 50px;
}

.photograph-header article {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 300px;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  clip-path: circle(50%);
}

h1 {
  color: #d3573c;
  font-size: 64px;
  font-family: 'DM Sans';
  font-weight: 400;
  margin: 0;
}
h2 {
  color: #901c1c;
  font-size: 24px;
  font-family: 'DM Sans';
  font-weight: 400;
  margin: 0;
}
.tagline {
  font-size: 18px;
  color: #525252;
  margin: 10px 0;
}

.infos_profil {
  width: 100%;
}
/* Profil fin */

.contact_button {
    font-size: 20px;
    /* font-weight: bold; */
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover,
.contact_button:focus {
  background-color: #DB8876;
  color: #000;
  outline: none;
}

/* Filter début */

.custom-select {
    position: relative;
    margin: 50px;
    margin-left: 110px;
}
.custom-select li {
    list-style-type: none;
}

.tri {
    font-size: larger;
    font-weight: 600;
    top: 20px;
    position: relative;
    right: 140px;
}

.select {
    width: 170px;
    height: 73px;
    cursor: pointer;
    background-color: #911C1C;
    border-radius: 5px;
    position: relative;
}

.select_expand {
        width: 0;
        height: 69px;
        position: absolute;
        top: 0;
        right: 0;
    }

.select_expand::after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f104";
            position: absolute;
            top: 50%;
            right: 18px;
            transform: translate(-50%, -50%) rotate(90deg);
            color: #fff;
            font-size: 20px;
            pointer-events: none;
            z-index: 2;
            color: #fff;
            transition: all 250ms ease-in-out;
        }

.select_expand:checked::after {
            transform: translate(-50%, -50%) rotate(90deg) scaleX(-1);
        }

.select_expandLabel {
        display: block;
        width: 100%;
        height: 69px;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
    }

.select_close {
        display: none
    }

.select_closeLabel {
        width: 210px;
        height: 69px;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }

.select_items {
        width: 210px;
        height: 69px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 5px;
        padding-top: 69px;
        
    }

.select_input {
        display: none
    }

.select_label {
        display: block;
        height: 0;
        font-size: 1.2rem;
        line-height: 69px;
        overflow: hidden;
        color: #fff;
        background-color: #fff;
        cursor: pointer;
        padding-left: 20px;
    }

.select_label-placeholder {
            margin-top: -25px;
            margin-left: -30px;
            height: 69px;
            vertical-align: middle;
            /* position: absolute; */
            top: 0;
            left: 0;
            background-color: transparent;
        }

.select_expand:checked +.select_closeLabel {
            display: block;
            cursor: pointer;
        }

.select_expand:checked +.select_closeLabel +.select_options {
                background: #911C1C;
                border-radius: 0 0 5px 5px;
            }

.select_expand:checked +.select_closeLabel +.select_options .select_label {
                    margin-left: -30px;
                    height: 69px;
                    background: transparent;
                }

.select_expand:checked +.select_closeLabel +.select_options .select_label:hover {
                        background-color: transparent;
                        color: #000;
                    }

.select_expand:checked +.select_closeLabel +.select_options +.select_expandLabel {
                    display: none
                }

.select_expand:checked +.select_closeLabel +.select_options +.select_option {
                    border-radius: 5px;
                }

.select_expand:checked +.select_closeLabel +.select_options .select_option:nth-child(2) .select_label:hover {
                    border-radius: 0 0 5px 5px;
                }

.select_input:checked+.select_label {
        height: 69px;
        margin-top: -69px;
        background-color: #911C1C;
        border-radius: 5px;
        margin-left: -30px;
    }

.select .border-top {
        display: block;
        height: 100%;
        width: 85%;
        border-top: 1px solid #fff;
    }

.select_input:checked+.select_label .border-top {
    border-top: none;
}

/* Filter Fin */

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}