@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

main {
  display: block;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

h1 {
    color: #901C1C;
}

/*  */
header h1 {
  margin-right: 180px;
  font-size: 40px;
}

.logo {
  height: 50px;
  margin-left: 180px;
}
.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:0px 70px;
  row-gap: 50px;
  margin-top: 40px;
}
.photographer_section article {
  /* justify-self: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.photographer_section article h2 {
  color: #D3573C;
  font-size: 36px;
  margin: 0;
}

.photographer_section article h3 {
  color: #901C1C;
  font-size: 24px;
  margin: 0;
}

.photographer_section p {
  margin: 0;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  /*  */
  clip-path: circle(45%);
}

/*  */
img {
  object-fit: cover;
}

.photograph-header h1 {
    color: #D3573C;
}
article a {
  text-decoration: none;
  text-align: center;
}

.infos_photographer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 100%;
}
